package resources;

public class Properties_example {
    public static final String API_BASE_URL = "http://";
    public static final String X_API_TOKEN = "";
    public static final String ACCESS_TOKEN = "";
}
